#!/bin/bash
#SBATCH --job-name=$jobname
#SBATCH --nodes=$n_nodes
#SBATCH -t $walltime
#SBATCH --output=$stdout
#SBATCH -e $stderr
#SBATCH -A $allocation
#SBATCH --partition=shared
#SBATCH --ntasks-per-node=1

$modules

$exe
